<!DOCTYPE html>
<html>

<head>
    
    <title>View Employees</title>

<head>

<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class ="success-message">
                    ✅ {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Employee List</h1>

    {% for employee in employees %}
    <p>ID: {{ employee[0] }}</p>
    <p> Name: {{ employee [1]  }}</p>
    <p> Email: {{ employee [2] }}</p>
    <p> Department: {{ employee [3]  }}</p>
    <a href="/edit_employee/{{ employee[0] }}">Edit</a>
    <a href="/delete_employee/{{ employee[0] }}">Delete</a>
    
    <hr>
    
    {% endfor %}

</body>
</html>